@import "../../../variables.scss";

body.hosted {
  @media screen and (max-width: 600px) {
    .hfui-strategyeditor__results-wrapper {
      margin: 10px 0;
    }
  }

  @media screen and (max-width: 500px) {
    .hfui-strategyeditor__results-section {
      display: block;
      width: 100%;
    }
  }

  @media screen and (max-width: 570px) {
    .hfui-strategyeditor__results-header {
      flex-direction: column;
      margin: 10px 0px;
    }
  }
}

.hfui-strategyeditor__results-wrapper {
  width: 100%;
  padding: 0 8px;
  margin: 40px 0;

  > p:first-child {
    font-size: 13px;
    font-weight: 500;
    margin: 8px 0;
    width: 100%;
    color: $green-color;
    text-align: center;
  }

  .results-left {
    p:first-child {
      width: 70%;
    }
  }

  .results-right {
    p:first-child {
      width: 50%;
    }
  }

  ul {
    font-size: 13px;

    li {
      margin-bottom: 4px;

      &:last-child {
        margin-bottom: 0;
      }

      p:first-child {
        text-align: right;
        margin-right: 16px;
      }

      > * {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}

.hfui-strategyeditor__results-list-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 6px;
}

.hfui-strategyeditor__results-section.results-left {
  width: 40%;
  display: inline-block;
}
.hfui-strategyeditor__results-section.results-right {
  width: 60%;
  display: inline-block;
}

.hfui-strategyeditor__results-header {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0px;
}

.hfui-strategyeditor__results-header-item {
  flex: 1;
  white-space: nowrap;
  margin-right: 10px;

  &:last-child > .hfui-strategyeditor__results-header-item_wrapper {
    margin-right: 0;
  }
}

.hfui-strategyeditor__results-header-item_wrapper {
  display: block;

  p {
    color: $grey-color;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 3px;
  }

  h4 {
    font-size: 19px;
  }
}
