@import "../../../variables.scss";

.hfui-createnewstrategymodal {
  &__footer {
    margin-top: 30px;

    span {
      color: $green-color;
      cursor: pointer;
  
      &:hover {
        border-bottom: 1px solid $green-color;
      }
    }

    button {
      margin: 0 !important;
    }

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}