@import '../../variables.scss';

body.Light {
  .bfxc__topbar {
    background: var(--background-color);
  }

  .bfxc__dropdown-menu {
    background: var(--lighter-background-color);
    border-color: var(--shade-5);

    li {
      color: var(--text-color);
      border-color: var(--shade-5);

      &:hover {
        color: var(--primary-7);
      }
    }
  }

  .bfxc__dropdown-wrapper > p:first-child,
  .icon-move {
    color: var(--text-color);

    &:hover {
      color: var(--shade-5);
    }
  }
}

body.hosted {
  @media screen and (max-width: 600px) {
    .hfui-backtester__executionform {
      .hfui-backtester__flex_start {
        align-self: auto;
      }
      .hfui-backtester_row {
        flex-direction: column;
      }
    }
  }
}

.hfui-backtester__executionform {
  display: flex;
  flex: 1;
  flex-direction: column;

  .hfui-backtester_row {
    margin-bottom: spacing(0.75) !important;
    gap: spacing(0.75);
  }

  .react-datepicker__input-container input {
    color: $green-color;
    width: calc(100% - 23px);
  }

  .hfui-dropdown__wrapper {
    width: 100%;
  }

  .hfui-exchangeinfobar__wrapper {
    background: none;
    border: none;
  }

  .hfui-backtester__flex_start {
    display: flex;
    flex: 1;
    align-self: flex-start;
  }
  .hfui-select__outer {
    display: block;
    min-width: 97%;
    min-height: 100%;
    padding-top:7px;
    padding-bottom: 7px;
    background-color: var(--darker-background-color);
  }
  .hfui-backtester_row {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-bottom: 10px;
  }

  .hfui-backtester__start-button {
    padding: 10px 18px;
    margin-right: 0px;
  }  

  .hfui-backtester_dateInputs_wrapper {
    display: flex;
    flex-direction: row;
  }

  .hfui-backtester__check-error {
    margin-top: 16px;
    font-size: 13px;
    color: $red-color;
  }
  
  input {
    max-width: 100%;
    padding: 10px 8px;
    background-color: var(--lighter-background-color);
    color: var(--shade-7);
  }
}
