@import "../../variables.scss";

.hfui-input {
  p {
    margin-bottom: 8px;
    font-size: 13px;
  }

  input {
    width: 100%;
    color: var(--shade-7);
    background: var(--darker-background-color);
    border: 0;
    padding: 10px 16px;
    font-size: 13px;
    font-weight: 500;
    line-height: 12px;
    outline: none;
    border-radius: $border-radius;
    cursor: inherit;
  }
}

.field-icon {
  float: right;
  margin-top: -25px;
  position: relative;
  border: none;
  color: $green-color;
  background: none;
  z-index: 2;
  outline: none;

  span {
    font-size: 13px;
  }
}
