@import "../../variables.scss";

.hfui-statusbar__wrapper {
  width: 100%;
  height: 32px;
  background: var(--darker-background-color);
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.25);
  z-index: 100;

  position: fixed;
  bottom: 0;
  left: 0;

  font-size: 13px;
  font-weight: 500;
  color: var(--shade-7);

  display: flex;
  flex-direction: row;

  user-select: none;

  @media screen and (max-width: 450px) {
    flex-direction: column;
    align-items: center;
    height: auto;

    .hfui-statusbar__right {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.hfui-statusbar__left {
  display: flex;
  flex-direction: row;
  padding-left: 16px;
  flex-shrink: 0;

  p {
    line-height: 32px;
  }

  > * {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.hfui-statusbar__right {
  width: 100%;
  text-align: right;
  padding-right: 16px;

  p,
  span {
    line-height: 32px;
    display: inline-block;
  }

  & > *,
  .hfui-statusbar__connection-status > * {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }

  & > *:last-child {
    margin-right: 0;
  }
  .dev-mode {
    color: $blue-color;
    background-color: $white-color;
    padding: 0 10px;
  }
}

.hfui-statusbar__statuscircle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;

  &.green {
    background: $green-color;
  }

  &.red {
    background: $red-color;
  }

  &.yellow {
    background: $yellow-color;
  }
}

.hfui-statusbar__version {
  line-height: 32px;
}

.hfui-statusbar__divide {
  border-left: 1px solid var(--lighter-background-color);
  height: 60%;
}

.hfui-statusbar__desclaimer {
  display: inline-flex;
  align-items: center;
  color: #cca92c;
}

.hfui-statusbar__pulse {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #cca92c;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
  animation: pulse 2s infinite;
  margin-right: 5px;
  &:hover {
    animation: none;
  }
}

.hfui-statusbar__beta {
  color: $green-color;
  text-decoration: underline;
  cursor: pointer;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
