@import "../../variables.scss";

.hfui-rc-disclaimer__transition {
  &-enter {
    opacity: 0;
    transform: translateY(-200px);
  }
  &-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: all 300ms;
  }
  &-enter-done {
    transform: translateY(0);
  }
  &-exit {
    opacity: 1;
    transform: translateY(0);
  }
  &-exit-active {
    opacity: 0;
    transform: translateY(-200px);
    transition: all 300ms;
  }
}

.hfui-rc-disclaimer {
  height: 52px;
  width: 100%;
  background-color: var(--lighter-background-color);
  position: fixed;
  z-index: 3;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;

  &__text {
    text-align: center;
    font-weight: 600;
    color: $red-color;

    a.Dark {
      color: $white-color;
    }
  }

  .hfui-panel__icon-button {
    margin-right: 5px;
  }
}
