@import '../../variables.scss';

body.hosted {
  @media screen and (max-width: 1230px) {
    .hfui-strategyeditorpage__wrapper {
      .hfui-strategyeditorpage__content-wrapper {
        flex-direction: column;
      }
  
      .hfui-strategyeditor__panel {
        .scrollbar-container {
          min-height: 700px !important;
        }
      }
  
      .hfui-strategiespage__right {
        width: 100%;
        margin-top: 20px;
  
        .scrollbar-container {
          min-height: 700px !important;
        }
      }
  
      .hfui-strategyeditor__panel {
        width: 100%;
        margin-right: 0;
      }
    }
  }
}

.hfui-strategyeditorpage__wrapper {
  .hfui-strategyeditorpage__content-wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  .hfui-strategyeditor__panel {
    width: calc(60% - 20px);
    margin-right: spacing(1.25);
  }

  .hfui-strategytradestable__wrapper {
    height: 300px;
    width: auto;
    margin: 0;
  }

  .hfui-strategiespage__pannel-wrapper {
    height: 100%;
    width: auto;
    background: var(--darker-background-color);
  }

  .hfui-strategiespage__right {
    width: 40%;
    display: flex;
    flex-direction: column;

    .hfui-panel {
      flex-shrink: 0;
    }
  }
}

.hfui-strategiespage__pannel-backtest {
  height: 100%;
}
