@import "../../variables.scss";

.hfui-aolist__wrapper {
  padding-bottom: 8px;
  height: 100%;

  &_more_info {
    text-transform: uppercase;
    cursor: pointer;
    color: var(--shade-6) !important;

    &:hover {
      color: var(--shade-7) !important;
    }

    .more_info_action {
      margin-left: 5px;
    }
  }

  &_order_info {
    min-width: 90%;
    width: 90%;
    border: 2px solid var(--primary-8);

    .title-container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .hfui-navbar__layout-settings__title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        .sub-title {
          font-size: 12px !important;
          color: var(--shade-6) !important;
          font-style: italic !important;
          margin-left: 10px;
          width: 100% !important;
        }
      }

      .close-btn {
        color: var(--text-color);
        background: var(--background-color);
        transition: all .2s;
        width: 30px;
        height: 25px;
        margin-right: 10px;
      
        &:hover {
          background: var(--lighter-background-color) !important;
          color: var(--shade-8);
        }
      
        &:active {
          background: var(--darker-background-color);
        }
      }
    }

    .basic-info {
      display: flex;
      padding-left: 16px;
      padding-right: 16px;

      .info-col {
        margin-left: 10px;

        .info-label {
          font-size: 12px;
          color: var(--shade-6);
        }

        .info-value {
          font-size: 14px;
          color: var(--text-color);
        }

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }

  .ReactVirtualized__Table__row {
    border-radius: 5px;
    overflow-x: hidden !important;
    overflow: visible !important;

    &:hover {
      background-color: var(--primary-0);
      color: var(--primary-8);
    }
  }

  .ReactVirtualized__Table__Grid {
    > div {
      overflow-x: hidden !important;
      overflow: visible !important;
    }
  }
}

.icons-cell {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--shade-6) !important;

  .edit-order-menu {
    top: 0% !important;
    left: 82% !important;
    min-width: 180px;

    .hfui-navbar__layout-settings__menu-buttons {
      :hover {
        color: var(--primary-8) !important;
        background-color: var(--lighter-background-color) !important;
      }
    }
  }

  .more-options-button {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16px;
  }

  > * {
    &:hover {
      cursor: pointer;
      color: var(--shade-7);
    }
  }
}
