@import "../../variables.scss";

.hfui-aolist__wrapper {
  padding-bottom: 8px;
  height: 100%;
  min-width: 700px;

  &_more_info {
    text-transform: uppercase;
    cursor: pointer;
    color: var(--shade-6) !important;

    &:hover {
      color: var(--primary-8) !important;
    }

    .more_info_action {
      margin-left: 5px;
    }
  }

  .ReactVirtualized__Table__row {
    border-radius: 5px;
    overflow-x: hidden !important;
    overflow: visible !important;

    &:hover {
      background-color: var(--primary-0);
      color: var(--primary-8);
    }
  }

  .ReactVirtualized__Table__Grid {
    > div {
      overflow-x: hidden !important;
      overflow: visible !important;
    }
  }
}

.hfui-ao-actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--shade-6) !important;

  .more-options-button {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16px;
  }

  > * {
    &:hover {
      cursor: pointer;
      color: var(--primary-8);
    }
  }
}

.tooltip__edit-order-menu {
  padding: 0;
}
