@import '../../variables.scss';

.hfui-aolist__wrapper {
  padding-bottom: 8px;

  .empty {
    margin-top: 10px;
    text-align: center;
  }
}

.icons-cell {
  display: flex;
  justify-content: space-around;
  align-items: center;

  > * {
    margin-right: 8px;
    font-size: 16px;

    .empty {
      margin-top: 10px;
      text-align: center;
    }
  
    &:hover {
      cursor: pointer;
      color: var(--shade-7);
    }
  }
}
