@import '../../variables.scss';

.hfui-simpledropdown {
  position: relative;
  display: inline-block;

  .simpledropdown-content {
    display: none;
    position: absolute;
    background-color: var(--lighter-background-color);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;

    > * {
      display: block;
    }
  }

  .simpledropdown-separator {
    background: transparent;
    display: none;
  }

  &:hover {
    .simpledropdown-content, .simpledropdown-separator {
      display: block;
    }
  }
}
