@import "../../variables.scss";

.hfui-exchangeinfobar__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  .hfui-exchangeinfobar__ticker {
    width: 100%;
    padding-bottom: spacing();

    .ccy-icon {
      width: 30px;
      height: 30px;
      filter: saturate(0) brightness(180);
    }

    .highlight {
      font-size: 18px;
      line-height: 18px;
      font-weight: 700;
      color: var(--shade-9);
    }

    .info {
      .quote-ccy {
        font-size: 13px;
        font-weight: 600;
        line-height: 18px;
        margin-left: 4px;
        color: var(--shade-4);
      }
    }

    .price-change.ufx-green-text {
      color: var(--primary-9);
    }

    .label {
      font-size: 12px;
      font-weight: 500;
      color: var(--shade-4);
    }

    .value {
      color: var(--shade-8);
    }
  }

  .hfui-exchangeinfobar__tickerlist-wrapper {
    position: relative;
  }

  .hfui-exchangeinfobar__tickerlist {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .ccy-icon-small {
      width: 15px;
      height: 15px;
      margin-right: 3px;
      filter: saturate(0) brightness(180);
    }

    .ufx-virtual-table--container {
      width: 100%;
      top: 40px;
    }

    th {
      font-weight: 600;
    }

    .fav-col .ufx-button {
      padding: spacing(0.25);
      min-width: auto;
      min-height: auto;

      svg {
        width: 12px;
        height: 12px;
      }
    }

    .ccy-pair {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .ccy-pair span:last-child {
      display: inline-block;
    }

    .input-field-container {
      border: var(--shade-4) !important;

      input {
        font-weight: 500;
      }

      input::placeholder {
        color: var(--shade-4);
      }
    }

    .ufx-table-wrapper {
      height: auto;
      max-height: none;
      flex-grow: 1;
    }
  }
}

.hfui-exchangeinfobar__item.vertical {
  display: block;
  padding: 0;
  margin-right: 24px;

  &:last-child {
    margin-right: 0;
  }

  .hfui-exchangeinfobar__item-label,
  .hfui-exchangeinfobar__item-data {
    display: block;
    width: 100%;
    line-height: inherit;
  }
}

.hfui-exchangeinfobar__item-label,
.hfui-exchangeinfobar__item-data {
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
}

.hfui-exchangeinfobar__item-label {
  font-weight: 600;
  font-size: 12px;
  line-height: 1;
  margin-bottom: 2px;
  color: var(--shade-5);
  user-select: none;
  margin-right: spacing(0.5);
}

.hfui-exchangeinfobar__currency-selector {
  font-size: 13px;
}

.hfui-exchangeinfobar__item-data {
  color: var(--shade-8);
  font-weight: 700;
  font-size: 14px;

  &.hover:hover {
    cursor: pointer;
  }

  &.hfui-green {
    color: var(--primary-9);
  }

  .hfui-select {
    margin-top: -2px;
    min-width: 100px;
  }

  .hfui-select__control {
    padding: 0 4px;
  }

  .hfui-select__single-value {
    color: $green-color !important;
  }
}

.hfui-exchangeinfobar__item:first-child .hfui-exchangeinfobar__item-data {
  color: var(--shade-9);
}

.hfui-panel--tickerlist {
  .ufx-virtual-table--container .ReactVirtualized__Table__headerTruncatedText,
  .ufx-virtual-table--container .ReactVirtualized__Table__row > * {
    font-size: 11px;
  }

  .hfui-panel__content {
    padding: 0;
  }

  .hfui-exchangeinfobar__ticker-wrapper {
    padding: 0 spacing();
  }

  .hfui-exchangeinfobar__tickerlist {
    .ufx-input {
      padding: 0 spacing(0.75);
    }

    .ufx-virtual-table--container {
      .ReactVirtualized__Table__headerColumn,
      .ReactVirtualized__Table__rowColumn {
        padding: 0 spacing(0.25);
      }

      .ReactVirtualized__Table__headerColumn:first-of-type {
        &:hover {
          background: none;
        }
      }
    }
  }
}
