@import '../../variables.scss';

.hfui-button, button {
  background: var(--lighter-background-color);
  border: none;
  color: var(--shade-8);
  font-size: 13px;
  font-weight: 600;
  border-radius: $border-radius;
  transition: background-color .2s;
  cursor: pointer;

  &:hover:not(.disabled),
  &:focus:not(.disabled) {
    opacity: .8;
  }

  &:active:not(.disabled) {
    transition-duration: .05s;
    background-color: var(--lighter-background-color);
  }

  &.red {
    background: $red-color;
    border-color: $red-color;
    color: mix(white, $red-button-color, 90%);

    &:hover:not(.disabled),
    &:focus:not(.disabled) {
      background-color: lighten($red-color, 6%);
    }

    &:active:not(.disabled) {
      background-color: darken($red-color, 6%);
    }
  }

  &.green {
    background: $green-button-color;
    border-color: $green-button-color;
    color: mix(white, $green-button-color, 90%);

    &:hover:not(.disabled),
    &:focus:not(.disabled) {
      background-color: lighten($green-button-color, 6%);
    }

    &:active:not(.disabled) {
      background-color: darken($green-button-color, 6%);
    }
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.inactive {
    opacity: 0.7;
  }

  > * {
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;

    &:last-child {
      margin-right: 0;
    }
  }
}
