.hfui-app-update__notification {
  position: fixed;
  bottom: 40px;
  left: 15px;
  width: 240px;
  padding: 20px;
  border-radius: 5px;
  background-color: var(--shade-1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  &.hidden,
  .hidden {
    display: none;
  }

  .btn-group {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
  }

  button {
    padding: 5px 10px;
  }
}
