@import '../../variables.scss';

.hfui-tradingstatepanel__wrapper {
  > .hfui-panel__content {
    margin: 0 (0 - spacing());
  }

  .hfui-panel__content {
    background: var(--darker-background-color);
  }

  .hfui-panel .hfui-panel__label {
    font-weight: 500;
  }

  .hfui-tspanel-header-button {
    display: flex;
    font-size: 13px;
    font-weight: 600;
    line-height: 32px;
    padding: 0 spacing(0.5);
    background: var(--darker-background-color);
    border-radius: $border-radius;
    color: var(--shade-7);
    height: 32px;
    cursor: pointer;
    transition: all .2s;

    i {
      font-size: 13px;
      color: inherit;

      &:before {
        font-weight: 600 !important;
      }
    }

    &:hover,
    &.active {
      background: var(--shade-0);
    }

    &.active {
      background: var(--primary-0);
      color: var(--primary-8);
    }
  }
}
