@import "../../variables.scss";

.hfui-tradingstatepanel__wrapper {
  > .hfui-panel__content {
    margin: 0 (0 - spacing());
  }

  .hfui-panel__content {
    background: var(--darker-background-color);
  }

  .hfui-panel .hfui-panel__label {
    font-weight: 500;
  }
}

.hfui-tradingstatepanel__options {
  display: flex;
  padding: 0 12px;

  & > *:not(:last-child) {
    margin-right: 10px;
  }

  .filter-icon {
    padding-top: 2px;
  }
}
