@import "../../variables.scss";

.hfui-tradingstatepanel__wrapper {
  .hfui-panel__inner > div {
    height: 100% !important;
  }

  > .hfui-panel__content {
    margin: 0 (0 - spacing());
  }

  .hfui-panel__content {
    background: var(--darker-background-color);
  }

  .hfui-panel .hfui-panel__label {
    font-weight: 500;
  }
}

.hfui-tradingstatepanel__options {
  display: flex;
  padding: 0 12px;

  & > *:not(:last-child) {
    margin-right: 5px;
  }

  .filter-by {
    display: flex;
    align-items: center;
    line-height: normal;
    text-transform: uppercase;
    height: 32px;
  }

  .filter-icon {
    font-size: 16px;
    padding-top: 2px;
    margin-right: 5px;
  }

  .hfui-panel__button {
    padding-right: 4px;
    padding-left: 3px;
  }

  &-market-select {
    max-width: 165px !important;
    min-width: 165px;
  }
}

.hfui-tradingstatepanel__ccy-icon {
  margin-top: 5px;
  width: 20px;
  height: 20px;
  // primary-8 color
  filter: invert(51%) sepia(60%) saturate(1705%) hue-rotate(130deg)
    brightness(104%) contrast(98%);
}
