.hfui-ide-notice {
  background-color: var(--primary-7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--shade-0);
  text-align: center;
  height: 100%;
  font-weight: 600;
  color: #102331;
  border-radius: 5px;
}
