@import "../../variables.scss";

.appsettings-modal {
  min-height: 336px;

  @media screen and (max-width: 650px) {
    &__tabs {
      width: 110px;
    }

    &__tab {
      min-width: 95px !important;
    }
  }

  .modal__body {
    display: flex;
    width: 100%;
    margin: 0 (0 - spacing(0.25)) (0 - spacing(0.25));
    text-align: left;
    padding-top: spacing(0.25) !important;
    overflow: auto;
  }

  &__title {
    font-weight: 600;
    font-size: 14px;
    color: var(--shade-9);
    margin-bottom: spacing();
  }

  p {
    margin-bottom: spacing();
  }

  &__tabs {
    border-radius: $border-radius;
    background: var(--darker-background-color);
    padding: spacing(0.75) spacing(0.5);
  }

  &__tab {
    min-width: 160px;
    padding: spacing(0.5) spacing(0.75);
    cursor: pointer;
    border-radius: $border-radius;
    transition: all 0.2s;
    color: var(--shade-5);
    margin-bottom: spacing(0.5);
    font-weight: 600;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      color: var(--shade-8);
      background-color: var(--shade-0);
    }

    &.is-active {
      background: var(--primary-0);
      color: var(--primary-8);
    }
  }

  &__content {
    flex-grow: 1;
    padding: spacing(0.75) spacing(1.5);
  }

  &__setting {
    margin-bottom: spacing(1.5);

    &:last-child {
      margin-bottom: 0;
    }

    a {
      text-decoration: none;
    }
  }

  &__description {
    padding-left: 25px; // match ufx checkbox
    color: var(--shade-5);
  }

  &__warning {
    display: inline-block;
    background: var(--red-background);
    border-radius: $border-radius;
    color: $red-color;
    padding: spacing(0.5) spacing();
  }

  &__checkbox {
    font-weight: 600;
    color: var(--shade-8);
    margin-bottom: spacing(0.5);
  }

  &__dropdown {
    .hfui-dropdown__wrapper {
      p {
        margin-bottom: 10px;
      }
    }
  }

  &__input {
    margin-bottom: spacing(0.5);

    .field-icon {
      margin-top: -32px;
      padding: 6px;
    }
  }

  &__api-configuration-message {
    display: flex;
    padding: spacing();
    border-radius: $border-radius;
    margin-bottom: spacing(1.5);

    &.is-success {
      color: var(--primary-9);
      background: var(--primary-0);
    }

    &.is-error {
      color: $red-color;
      background: var(--red-background);
    }

    &.is-warning {
      color: $yellow-color;
      background: var(--yellow-background-mix);
    }

    svg {
      width: 16px;
      height: 16px;
      margin-right: spacing(0.5);
    }
  }
}
