@import "../../variables.scss";

.appsettings-modal {
  .modal__body {
    height: 430px;
    max-height: 430px;
  }

  .reset_button {
    margin-left: 10px;
  }

  &__key-title-wrapper {
    margin-bottom: spacing();
  }

  &__key-title {
    font-weight: 600;
    font-size: 14px;
    color: var(--shade-9);
  }

  &__key-text {
    font-size: 12px;
  }

  &__key-desc {
    margin-top: 5px;
  }

  &__key-link {
    margin-left: 5px;
  }

  p {
    margin-bottom: 5px;
  }

  &__setting {
    transition: box-shadow 1s ease, background-color 1s ease;
    width: 102%;
    border-radius: 10px;

    &--paddings {
      padding: spacing(0.75) spacing(1.5);
    }

    &:not(:last-child) {
      margin-bottom: spacing(1.5);
    }

    &.highlight {
      margin-left: 2%;
      box-shadow: rgba(100, 100, 100, 0.25) 0px 5px 6px,
        rgba(100, 100, 100, 0.12) 0px -12px 30px,
        rgba(100, 100, 100, 0.12) 0px 4px 6px,
        rgba(100, 100, 100, 0.17) 0px 12px 13px,
        rgba(100, 100, 100, 0.29) 0px 1px 2px;
      background-color: var(--shade-1);
      border-radius: 10px;
    }

    &--beta {
      position: relative;
      margin-bottom: 20px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    a {
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
      opacity: 0.9;
    }

    &.bold {
      font-weight: 600;
    }

    &.light {
      font-weight: 300;
    }
  }

  &__description {
    padding-left: 25px; // match ufx checkbox
    color: var(--shade-5);
  }

  &__checkbox {
    font-weight: 600;
    color: var(--shade-8);
    margin-bottom: spacing(0.5);
  }

  &__input {
    margin-bottom: spacing(0.5);

    .field-icon {
      margin-top: -32px;
      padding: 6px;
    }
  }

  &__api-configuration-message {
    display: flex;
    margin-bottom: spacing(1.5);
    padding: spacing();

    i {
      font-size: 17px;
      margin-right: spacing(0.5);
    }
  }

  &__legal {
    font-size: 11px !important;

    .legal__item {
      margin-bottom: 7px;
      display: block;

      &:last-child {
        margin-bottom: 0;
      }

      &--bold {
        font-weight: 600;
      }
    }
  }

  &__beta-disclaimer {
    transform: none !important;
    top: 30px !important;
    left: 30px !important;
  }

  .beta-modal {
    top: 160px;
    transform: none;

    &__content {
      margin-top: 20px;
    }

    &__button {
      background-color: #fed203;
      color: #172d3e;
      margin: 20px auto;
      display: block;
    }
  }

  .override-reconnection-timer__input {
    width: 200px !important;
  }

  &__timeformat-input {
    margin-bottom: spacing();
  }
}
