@import "../../variables.scss";

.hfui-strategies-list {
  .no-trades__wrapper {
    margin-top: 20px;
    text-align: center;
  }
}

.hfui-strategytradestable__wrapper {
  width: auto;
  margin: 0;

  .ReactVirtualized__Table__headerColumn {
    color: var(--shade-6) !important;
  }

  .ReactVirtualized__Table__rowColumn {
    color: var(--shade-8);
  }

  .ReactVirtualized__Table__row.selected {
    .ReactVirtualized__Table__row {
      background-color: $background-color;
    }
  }

  .ufx-table {
    margin-top: 20px;
    background-color: $background-color;

    thead {
      text-transform: uppercase;
    }

    th, td {
      padding: 6px 15px;
    }

    th {
      color: var(--shade-6);
    }

    td {
      color: var(--shade-8);
    }
  }

  .ReactVirtualized__Table__headerRow {
    .ReactVirtualized__Table__headerTruncatedText {
      text-transform: uppercase;
    }
  }

  .no-trades__wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .no-trades__notification {
    display: flex;
    align-items: center;
  }

  .panel-button {
    text-transform: uppercase;
  }
}
