@import "../../variables.scss";

.hfui-strategytradestable__wrapper {
  width: auto;
  margin: 0;
  
  .ReactVirtualized__Table__headerRow {
    .ReactVirtualized__Table__headerColumn:first-of-type,
    .ReactVirtualized__Table__rowColumn:first-of-type {
      margin-left: 24px;
    }

    .ReactVirtualized__Table__headerTruncatedText {
      text-transform: uppercase;
    }
  }

  .no-trades__wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .no-trades__notification {
    display: flex;
    align-items: center;
  }

  .panel-button {
    text-transform: uppercase;
  }
}
