@import "../../variables.scss";

.hfui-apikeys-configurate-form__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.hfui-apikeys-configurate-form {
  max-width: 500px;
  height: calc(100% - 10px);
  margin: 0 auto;
  user-select: none;
  padding-left: 15px;
  padding-right: 15px;

  &:hover:not(.nohover) {
    cursor: pointer;
  }

  i + p {
    font-weight: 500;
  }

  &__modal-form {
    margin: 16px 0 !important;
    width: 100%;

    .error {
      font-size: 13px;
      color: $red-color;
      text-align: center;
    }
  }

  &__modal-buttons,
  &__modal-description {
    width: 100%;

    .link {
      margin-left: 5px;
    }
  }

  &__modal-form .inputs {
    > *:first-child {
      margin-bottom: 5px;
    }
  }

  &__modal-form .row,
  &__modal-buttons .row {
    display: flex;
    flex-direction: row;

    > *:first-child {
      margin-right: 15px;
    }

    .hfui-button {
      padding: 8px 13px;
      text-transform: uppercase;
      width: 50%;

      button {
        font-size: 13px;
      }

      button,
      i {
        color: $white-color;
      }
    }
  }

  .submit-keys {
    color: var(--primary-8);
    font-weight: 700;

    &:hover {
      color: var(--primary-9);
      text-decoration: underline;
    }
  }

  .notice {
    padding: 0 16px;
    font-size: 13px;
    color: var(--grey-color);
    line-height: 1.5;
    text-align: center;
  }

  .inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
    height: calc(100% - 32px);
    max-width: 500px;
    margin: 0 auto;

    > p {
      text-align: center;
    }

    > i {
      font-size: 38px;
      height: 38px;
      margin-bottom: 16px !important;
    }

    > * {
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
