@import "../../variables.scss";

.close-session-modal {
  &__description {
    margin-bottom: 15px;
  }
  &__orders-list {
    list-style-type: disc;
    padding-left: 20px;
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  &__orders-list-item {
    .primary-label {
      color: $green-color;
      font-weight: 700;

      &:hover {
        cursor: pointer;
        border-bottom: solid 1px $green-color;
      }
    }

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}
