.hfui-strategies-list {
  max-height: 400px;
  background: var(--darker-background-color);
  flex: 1;

  .hfui-panel__header-tabs {
    text-transform: uppercase;
  }

  .ReactVirtualized__Table__row {
    &:hover {
      background-color: var(--background-color);
      cursor: pointer;

      .list-actions {
        display: flex;
      }
    }

    .list-actions {
      display: none;
      justify-content: space-around;
      align-items: center;

      > p {
        color: var(--primary-8);
      }
    
      > * {
        margin-right: 20px;
        font-size: 16px;
    
        &:hover {
          cursor: pointer;
          color: var(--primary-8);
        }
      }
    }
  }

  .strategies-list {
    padding: 10px;
    list-style: disc;
  }

  .strategy-item {
    margin-bottom: 8px;
    cursor: pointer;
    color: var(--primary-7);
    font-size: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
