@import "../../variables.scss";

body.hosted {
  @media screen and (max-width: 600px) {
    .hfui-strategyeditor__func-select {
      flex-flow: row wrap;
      margin-right: 0;
  
      li {
        height: 35px !important;
      }
    }

    .hfui-strategyeditor__wrapper {
      flex-direction: column;
    }

    .hfui-strategyeditor__content-wrapper {
      width: 100%;
      height: 300px;
      margin-top: 10px;
    }
    
    .hfui-strategyeditor__panel {
      .hfui-panel__left-container {
        flex-direction: column;
      }
    }
  }
}

.hfui-strategyeditor__wrapper {
  display: flex;
  height: 100%;
}

.hfui-removestrategymodal__wrapper {
  button {
    margin-right: 10px;
  }
  .hfui-removestrategymodal__content p {
    margin-bottom: 15px;
  }
}

.hfui-strategyeditor__editor-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: calc(100% - 10px);
  position: relative;
  z-index: 0;

  &.noresults {
    height: 100%;
  }
}
.hfui-strategyeditor__editor-error-output {
  font-family: monospace;
  padding: 0 16px;
  background: var(--darker-background-color);
  color: $red-color;
  font-size: 13px;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 3;

  .strategyeditor__close-icon {
    position: absolute;
    top: 8px;
    right: 5px;
    padding-top: 6px;
  }

  pre {
    white-space: pre-wrap;
    width: calc(100% - 25px);
  }
}

.hfui-strategyeditor__func-select {
  flex-shrink: 0;
  font-size: 13px;
  margin-right: spacing(0.75);

  li {
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    font-weight: 500;
    padding: 0 spacing();
    cursor: pointer;
    transition: all 0.2s;
    border-bottom: 1px solid var(--shade-0);
    background: var(--background-color);

    &:first-child {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }

    &:last-child {
      border-bottom: 0;
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }

    &:active {
      transition-duration: 0.05s;
      background: rgba(0, 0, 0, 0.1);
    }

    p:first-child {
      margin-right: spacing();
    }

    &:not(.active) {
      color: var(--shade-5);
    }

    &.empty {
      color: $strategy-empty-color;
    }

    &:hover {
      cursor: pointer;
      color: var(--shade-9);
      background-color: var(--shade-0);
    }

    &.hasError {
      color: $red-color !important;
    }

    &.active {
      font-weight: 600;
      color: var(--primary-9);
      background: var(--primary-0);
    }
  }
}

.hfui-strategyeditor__header {
  margin: 0 spacing(0.25);

  .hfui-button {
    height: 32px;
    padding: 0 spacing(0.75);
    margin: 0 spacing(0.25);
  }
}

.hfui-strategyeditor__content-wrapper {
  width: calc(
    100% - 182px
  ); // width of hfui-strategyeditor__func-select + margin-right
}

.hfui-strategyeditor__panel {
  .notch-icon {
    font-size: 18px;
    color: var(--shade-7) !important;
    padding: 3px 7px;
  }
}

.hfui-strategyeditor__empty-content {
  .recent-title {
    font-size: 14px;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
    font-weight: 700;
  }
  .strategies-list {
    padding: 10px;
    list-style: disc;
  }
  .strategy-item {
    margin-bottom: 8px;
    cursor: pointer;
    color: #05bc97;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.hfui-strategyeditor__without-strategies {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  > div:first-child {
    text-align: center;

    > * {
      display: inline-block;
      vertical-align: middle;

      margin-right: 4px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .button {
    color: var(--primary-8);
    font-weight: 700;

    &:hover {
      cursor: pointer;
      color: var(--primary-9);
      text-decoration: underline;
    }
  }
}
