@import "../../variables.scss";

body.hosted {
  @media screen and (max-width: 600px) {
    .hfui-strategyeditor__func-select {
      flex-flow: row wrap;
      margin-right: 0;

      li {
        height: 35px !important;
      }
    }

    .hfui-strategyeditor__wrapper {
      flex-direction: column;
    }

    .hfui-strategyeditor__content-wrapper {
      width: 100%;
      height: 300px;
      margin-top: 10px;
    }

    .hfui-strategyeditor__panel {
      .hfui-panel__left-container {
        flex-direction: column;
      }
    }
  }
}

.hfui-strategyeditor__ide {
  border-bottom: 16px solid var(--darker-background-color);
}

.hfui-strategyeditor__wrapper {
  display: flex;
  height: 100%;
  min-height: 530px;
  background-color: var(--background-color);
  position: relative;

  .hfui-create-strategy__btn {
    text-transform: uppercase;
  }

  .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 0;
  }
}

.hfui-removestrategymodal__wrapper {
  button {
    margin-right: 10px;
  }
  .hfui-removestrategymodal__content p {
    margin-bottom: 15px;
  }
}

.hfui-strategy-sidebar-status {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;

  &.stopped {
    color: $green-color;
  }

  &.running {
    color: $red-color;
  }

  &.paused {
    color: $grey-color;
  }
}

.hfui-strategy-editor_cancel-process-btn {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 0;
  background: transparent;
  color: var(--shade-5);

  &:hover {
    opacity: 1;
    color: var(--text-color);
  }
}

.hfui-strategyeditor__editor-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: calc(100% - 25px);
  position: relative;
  z-index: 0;

  &.noresults {
    height: 100%;
  }
}
.hfui-strategyeditor__editor-error-output {
  font-family: monospace;
  padding: 0 16px;
  background: var(--darker-background-color);
  color: $red-color;
  font-size: 13px;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 3;

  .strategyeditor__close-icon {
    position: absolute;
    top: 8px;
    right: 5px;
    padding-top: 6px;
  }

  pre {
    white-space: pre-wrap;
    width: calc(100% - 25px);
  }
}

.hfui-strategyeditor__func-select {
  flex-shrink: 0;
  font-size: 13px;
  margin-right: spacing(0.75);
  overflow: auto;

  li {
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    font-weight: 500;
    padding: 0 spacing();
    cursor: pointer;
    transition: all 0.2s;
    border-bottom: 1px solid var(--shade-0);
    background: var(--background-color);

    &:first-child {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }

    &:last-child {
      border-bottom: 0;
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }

    &:active {
      transition-duration: 0.05s;
      background: rgba(0, 0, 0, 0.1);
    }

    p:first-child {
      margin-right: spacing();
    }

    &:not(.active) {
      color: var(--shade-5);
    }

    &.empty {
      color: $strategy-empty-color;
    }

    &:hover {
      cursor: pointer;
      color: var(--shade-9);
      background-color: var(--shade-0);
    }

    &.hasError {
      color: $red-color !important;
    }

    &.active {
      font-weight: 600;
      color: var(--primary-9);
      background: var(--primary-0);
    }
  }
}

.hfui-strategyeditor__header {
  margin: 0 spacing(0.25);

  .hfui-button {
    height: 32px;
    padding: 0 spacing(0.75);
    margin: 0 spacing(0.25);
  }
}

.hfui-strategy-button {
  height: 32px;
  padding: 0 spacing(0.75);
  margin: 0 spacing(0.25);
}

.hfui-strategyeditor__content-wrapper {
  width: calc(
    100% - 182px
  ); // width of hfui-strategyeditor__func-select + margin-right
}

.hfui-strategyeditor__panel {
  .notch-icon {
    font-size: 18px;
    color: var(--shade-7) !important;
    padding: 3px 7px;
  }
}

.hfui-strategyeditor__empty-content {
  .recent-title {
    font-size: 14px;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
    font-weight: 700;
  }
}

.hfui-strategyeditor__without-strategies {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  > div:first-child {
    text-align: center;

    > * {
      display: inline-block;
      vertical-align: middle;

      margin-right: 4px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .button {
    color: var(--primary-8);
    font-weight: 700;

    &:hover {
      cursor: pointer;
      color: var(--primary-9);
      text-decoration: underline;
    }
  }

  .select-one-text {
    margin-top: 15px;
  }

  .select-strategy-live-text {
    font-size: 18px;
    font-weight: 600;

    > p {
      margin-bottom: 10px;
      font-size: 20px;
      text-transform: uppercase;
    }
  }
}

.hfui-strategyeditor__use-sandbox-tooltip {
  position: absolute;
  top: 65px;
  right: 295px;
  width: 300px;
  text-align: center;
  font-weight: 600;
  padding: 5px;
  border-radius: $border-radius;
  background-color: $green-color;
  color: $darker-background-color;

  &:after,
  &:before {
    bottom: 100%;
    left: 80%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-bottom-color: $green-color;
    border-width: 15px;
    margin-left: -15px;
  }

  &:before {
    border-bottom-color: $green-color;
    border-width: 16px;
    margin-left: -16px;
  }
}

.hfui-strategy__options-panel {
  min-width: 180px !important;
  left: 240px !important;
  top: -27px !important;
  box-shadow: 5px -4px 15px 0px #000000;

  &--sidebar-closed {
    left: 150px !important;
  }
}

.hfui-strategyeditor__initial-message {
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.hfui-strategyeditor__sidebar-title {
  position: relative;
  display: inline-flex;
  word-break: break-all;

  .indicator-near-icon {
    position: absolute;
    top: -3px;
    right: -5px;
  }
  .title-icon {
    margin-right: 5px;
    &:last-child {
      margin-right: 0;
    }
  }
  .title-label {
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.hfui-strategyeditor__panel ~ .hfui-strategies-list__wrapper {
  flex: 1 1 230px;
}
