.hfui-ao-details-modal {
  border: 2px solid var(--primary-8);
  background-color: var(--darker-background-color);
  overflow: auto;

  .title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .hfui-navbar__layout-settings__title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 20px;

      .sub-title {
        font-size: 18px !important;
        color: var(--shade-6) !important;
        font-style: italic !important;
        margin-left: 10px;
        width: 100% !important;
      }
    }

    .actions-container {
      display: flex;
      width: 80px;
      justify-content: space-between;
    }
  }

  .info-title {
    padding-left: 16px;
    padding-right: 16px;
    font-size: 14px;
    color: var(--shade-9);
    margin-bottom: 8px;
    font-weight: bold;
  }

  .basic-info {
    display: flex;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 14px;

    .info-col {
      margin-left: 10px;
      color: var(--shade-5);

      &:hover {
        color: var(--shade-5);
      }

      .info-label {
        font-size: 12px;
        color: var(--shade-5);
      }

      .info-value {
        font-size: 14px;
        color: var(--text-color);
      }

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .order-history {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 10px;

    &_title {
      font-size: 18px;
      font-weight: bold;
      color: var(--shade-9);
    }

    &_button {
      color: var(--text-color);
      font-size: 12px;
      text-transform: uppercase;
      cursor: pointer;

      &:hover {
        color: var(--primary-8);
      }
    }
  }

  .order-history-table {
    padding-left: 16px;
    padding-right: 16px;
    max-height: 238px;
    height: 100%;
  }
}
