.hfui-inner-modal {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 48px);
  max-width: 460px;
  height: auto;
  border-radius: 15px;
  background: var(--darker-background-color);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 6px 16px;
  box-sizing: border-box;
  position: fixed;
  z-index: 2147483000;
  top: 160px;
  left: 350px;
}
