@import "../../variables.scss";

.hfui-panel {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  overflow: hidden;
  background: var(--darker-background-color);
  border-radius: $border-radius;

  &.monokai {
    background: rgb(39, 40, 34);
  }

  .hfui-select {
    background: var(--background-color);
    padding: 0 spacing(1);
  }

  &.dark-header .hfui-panel__header {
    background: var(--darker-background-color);
  }

  &__left-container {
    display: flex;
  }
}

.hfui-panel__secondaryheader__wrapper,
.hfui-panel__header-icons {
  .ufx-dropdown {
    .dropdown-field {
      transition: all 0.2s;

      .input-field,
      .arrow-icon {
        background: var(--darker-background-color) !important;
      }

      .input-field {
        &:hover {
          color: var(--shade-9) !important;
        }
      }
    }
  }
}

.hfui-panel__secondaryheader__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 0 0 spacing(0.75) 0;
  padding: 0 spacing(1);

  &.reverse {
    flex-direction: row-reverse;

    .hfui-select__control {
      margin-left: 0;
      margin-right: 16px;
    }

    > * {
      margin-right: 0;
      margin-left: 40px;

      &:last-child {
        margin-left: 0;
      }
    }
  }
}

.hfui-panel__header {
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  background: var(--background-color);
  justify-content: space-between;
  padding: spacing(0.5) spacing(0.5) spacing(0.5) spacing(1);
  flex-wrap: wrap;

  &.has-secondary-header {
    border-bottom: none;
  }

  .close:hover {
    cursor: pointer;
  }
}

.hfui-panel__header,
.hfui-panel__secondaryheader__wrapper {
  .hfui-select__value-container {
    width: 70px;
  }

  .hfui-select__control {
    height: 35px;
  }

  .hfui-select__menu {
    margin-left: 8px;
    z-index: 999;
  }
}

.hfui-panel__header-tabs {
  flex-shrink: 0;
  flex-grow: 1;

  li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 12px;
    cursor: pointer;
    border-radius: $border-radius;
    transition: all 0.2s;

    .hfui-panel__label {
      transition: all 0.2s;
      color: var(--shade-5);

      &:hover {
        color: var(--shade-8);
      }
    }

    &.active {
      background: var(--primary-0);

      .hfui-panel__label {
        color: var(--primary-8);
      }
    }
  }
}

.hfui-panel__preheader {
  display: flex;
  height: 30px;
  align-self: center;
}

.hfui-panel__buttons-section {
  display: flex;

  & > * {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.hfui-panel__header-components {
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;

  & > * {
    margin-right: 8px;
  }

  > p {
    line-height: 31px;
    font-size: 13px;

    &:first-child {
      margin-left: 8px;
    }
  }

  .disabled {
    opacity: 0.5;
  }

  .hfui-select {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .hfui-select__value-container .hfui-select__single-value {
    color: $green-color !important;
  }

  .hfui-dropdown__wrapper {
    margin-top: 5px;
  }
}

.hfui-panel__header-icons {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  p {
    font-size: 13px;
    margin-right: 8px;
    line-height: 32px;
  }

  i,
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    font-size: 20px;
    color: var(--shade-5);
    transition: all 0.2s;
    cursor: pointer;
    border-radius: $border-radius;

    &.disabled {
      cursor: not-allowed;
      color: var(--shade-3);
    }

    &:hover:not(.disabled) {
      color: var(--shade-9);
      background: var(--shade-0);
    }

    &.high-contrast {
      background: var(--background-color);
    }

    &.no-margin {
      margin-right: 0;
    }

    &.small {
      line-height: 15px;
    }
  }

  .fa-circle-notch {
    animation: hfui-panel-spinner-rotate 1s infinite ease-in-out both;
    color: $yellow-color !important;
  }

  .icon-move {
    cursor: move;
  }
}

.hfui-panel__label {
  font-weight: 600;
  font-size: 14px;
  line-height: 32px;
  flex-shrink: 0;
  color: var(--shade-9);
  user-select: none;
}

.hfui-panel__close {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  border-radius: $border-radius;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  justify-self: center;
  align-self: center;
  color: var(--text-color);
  transition: all 0.2s;

  &:hover,
  &:focus {
    background: var(--lighter-background-color);
    color: var(--shade-8);
  }

  &:active {
    background: var(--darker-background-color);
  }
}

.hfui-panel__content {
  position: relative;
  flex-grow: 1;
}

.hfui-panel__inner {
  height: 100%;
  padding: 0 spacing();
}

@keyframes hfui-panel-spinner-rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
