@import "../../variables.scss";

.hfui-strategy-options {
  display: flex;
  justify-content: space-between;
  height: 100%;

  .item {
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }

  .hfui-orderform__input-label {
    white-space: nowrap;
  }

  &__results-container {
    background-color: var(--darker-background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    border-radius: 5px;
    padding: 10px;
  }

  &__left-container {
    display: flex;
    width: 80%;
  }

  &__save-container {
    display: flex;
    align-items: center;
    height: 34px;

    .saving-message {
      text-transform: uppercase;
      font-size: 10px;
      line-height: 12px;
      font-weight: 700;
      margin-right: 10px;
      text-align: end;

      .red {
        color: #d94343;
      }

      .green {
        color: var(--primary-7);
      }

      .grey {
        color: var(--shade-6);
      }
    }

    .save-btn {
      height: 28px;
      width: 80px;
    }
  }

  &__buttons-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }

  &__option {
    padding-top: 7px;
  }

  &__strategy-name {
    @extend .hfui-strategy-options__option;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    max-width: 25ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:hover {
      text-decoration: underline;
    }
  }

  &__input {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    margin-bottom: 0;

    &--unlimited {
      max-width: none;
    }
  }

  &__amount-input {
    @extend .hfui-strategy-options__input;
    padding: 8 16px;
  }

  &__strategy-type-input {
    @extend .hfui-strategy-options__input;
    flex-direction: row;
  }

  &__type-selection {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    .hfui-strategy-options__input:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__backtest-result-btn {
    height: 34px;
    min-width: 70px;
    align-self: center;
  }

  &__option-btn {
    height: 34px;
    min-width: 70px;
  }

  &__ok-btn {
    min-width: 36px;
    height: 36px;
  }

  &__search-btn {
    width: 15px;
    height: 15px;
  }

  &__settings-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    text-transform: uppercase;
    height: 32px;

    .hfui-exchangeinfobar__button {
      &:hover,
      &:active {
        color: inherit;
      }
    }

    &:hover {
      color: $green-color;
      justify-content: space-between;
    }
  }
}

// Remove after make BacktestOptionsPanel verical
@media screen and (max-width: 1800px) {
  .hfui-strategy-options {
    .item {
      margin-right: 10px;
    }

    &__left-container {
      justify-content: space-between;
    }
  }
}
