@import "../../variables.scss";

body.hosted {
  @media screen and (max-width: 1120px) {
    .hfui-navbar__wrapper {
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: auto;
      padding-bottom: 15px;
      padding-top: 10px;

      .hfui-tradingpage__menu, .hfui-navbar__main-links {
        justify-content: center;
      }
    }
  }
}

.hfui-navbar__wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  font-size: 13px;
  background: var(--darker-background-color);
  height: 52px;
  padding: 0 spacing(1.25);
  margin-bottom: 20px;

  .hfui-navbar__logo {
    width: 83px;
    margin-right: spacing();
    height: 100%;
  }

  .hfui-navbarbutton {
    background-color: transparent !important;
  }

  &,
  button {
    color: var(--text-color);
  }

  > p {
    flex-shrink: 0;
    margin-right: 32px;
  }

  p {
    line-height: 34px;
  }

  .hfui-navbar__main-links button {
    display: flex;
    align-items: center;
    background: transparent;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-radius: 0;
    padding: 0;
    margin: 0 spacing(0.5);
    outline: none;
    height: 52px;
    font-size: 13px;
    font-weight: 600;
    transition: all 0.2s;
    color: var(--shade-6);

    &:hover,
    &.active {
      border-bottom: 2px solid var(--primary-9);
      color: var(--shade-9);
    }

    &.hover {
      cursor: pointer;
    }

    p {
      line-height: inherit;
    }
  }

  & .fa {
    display: block;
  }

  li {
    margin-right: 8px;
    flex-shrink: 0;

    &.full-width {
      flex-grow: 1;
      text-align: right;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .hfui-dropdown__wrapper {
    width: 160px;
  }
}

.hfui-navbar__main-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
}

.hfui-tradingpage__menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}

.hfui-navbar__app-settings,
.hfui-navbar__layout-settings,
.hfui-orderform__ao-settings {
  position: relative;
}

.hfui-navbar__app-settings__icon i:before {
  font-size: 19px !important;
  font-weight: 500;
}

.hfui-navbar__layout-settings__menu,
.hfui-orderform__ao-settings__menu {
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  min-width: 256px;
  padding: spacing(0.5) 0;
  background: var(--lighter-background-color);
  border-radius: $border-radius;
  // border: 1px solid var(--shade-1);
}

.hfui-navbar__layout-settings__title,
.hfui-orderform__ao-settings__title {
  color: var(--shade-9);
  font-size: 14px;
  font-weight: 600;
  padding: spacing(0.5) spacing(1);
}

.hfui-navbar__layout-settings__separator,
.hfui-orderform__ao-settings__separator {
  height: 1px;
  background: var(--shade-1);
  margin: spacing(0.5) 0;
}

.hfui-navbar__layout-settings__item,
.hfui-orderform__ao-settings__item {
  color: var(--shade-6);
  font-size: 14px;
  font-weight: 500;
  padding: spacing(0.5) spacing(1);
  cursor: pointer;
  transition: all 0.2s;

  &.is-disabled {
    cursor: default;
    color: var(--shade-2);
  }

  &:hover:not(.is-disabled) {
    background: var(--shade-1);
    color: var(--shade-9);
  }

  &.is-layout {
    position: relative;
    padding-left: spacing(2.75);

    .hfui-navbar__layout-settings__delete,
    .hfui-orderform__ao-settings__delete {
      position: absolute;
      top: 4px;
      right: spacing(0.75);
      display: flex;
      width: 24px;
      height: 24px;
      border-radius: $border-radius;
      justify-content: center;
      align-items: center;
      transition: all 0.2s;
      opacity: 0;

      .icon-clear:before {
        font-weight: 500 !important;
        font-size: 12px;
      }
    }

    &:hover {
      .hfui-navbar__layout-settings__delete,
      .hfui-orderform__ao-settings__delete {
        opacity: 1;

        &:hover {
          background: var(--shade-3);
        }
      }
    }
  }

  &.is-selected:before {
    display: block;
    position: absolute;
    top: spacing(0.5) + 1;
    left: spacing(1);
    font-family: "untitled-font-4";
    content: "S"; // check
  }

  .hfui-navbar__layout-settings__item-unsaved,
  .hfui-orderform__ao-settings__item-unsaved {
    color: var(--shade-3);
  }
}

.hfui-exchangeinfobar__buttons {
  display: flex;
  margin-right: spacing();

  &.is-web {
    margin-right: 0;
  }
}

.hfui-exchangeinfobar__button {
  cursor: pointer;
  border-radius: 6px;
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s;
  background-color: transparent;
  opacity: 1 !important;

  svg {
    outline: 0;
  }

  i,
  i:before {
    display: block;
    font-size: 16px;
  }

  &:hover,
  &:focus {
    background: var(--shade-0) !important;
    color: var(--shade-9);
  }

  &:active {
    background: rgba(0, 0, 0, 0.2) !important;
  }

  &.is-open {
    background: var(--primary-1) !important;
    color: var(--primary-9);
  }
}

.hfui-tradingpaper__control {
  display: flex;
  border-right: 1px solid var(--darker-background-color);
  flex-direction: row;
  margin-right: 16px;

  .hfui-tradingpaper__control-toggle {
    p {
      font-size: 13px;
      padding-right: 10px;
    }
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.toggle-switch {
  > input {
    margin-left: 5px;
  }
}

.hfui-navbar__logout {
  width: auto;
  font-weight: 500;
  padding: 0 spacing(0.75);
  background: none;
}
