@import '../../variables.scss';

.hfui-active-ao-modal__wrapper {
  .modal__body {
    max-height: 500px;
    overflow: auto;
  }
}

.hfui-active-ao-modal__table {
  margin: 0 spacing(-0.75);

  .virtual-table {
    width: 100%;
    max-height: 400px;
  }

  tbody tr:not(:last-child) {
    cursor: pointer;
    
    &:hover {
      background: $panel-background-color;
    }
  }

  .ufx-checkbox {
    margin-top: 0;
  }
}
