.hfui-edit-order-modal__wrapper {
  border: 2px solid var(--primary-8);

  .ao-submit-action,
  .hfui-orderform__layout-actions {
    display: none;
  }

  .ao-submit-action {
    justify-content: center;
  }

  .hfui-orderform__checkbox-group:empty {
    display: none;
  }

  .modal__body {
    overflow-y: scroll;
  }
}
