@import "../../variables.scss";

.ufx-dropdown {
  font-weight: 500;
  color: $light-color-800;

  .ufx-input {
    input {
      height: auto;
    }
  }

  &.is-highlighted {
    .dropdown-field {
      border: 1px solid mix($white-color, $input-background-color, 15%);
    }
  }

  div.list-wrapper {
    top: 36px;
  }

  [class*="icon-"] {
    margin-right: spacing(0.5);

    &:before {
      display: block;
    }
  }
}
