@import "../../variables.scss";

.ufx-dropdown {
  font-weight: 500;
  color: var(--shade-8);

  .ufx-input {
    input {
      height: 32px;
    }
  }

  &.is-highlighted {
    .dropdown-field {
      border: 1px solid var(--white-background-mix);
    }
  }

  div.list-wrapper {
    top: 32px;
  }

  [class*="icon-"] {
    margin-right: spacing(0.5);

    &:before {
      display: block;
    }
  }
}
