@import "../../../variables.scss";

.hfui-unabletoclosepositionmodal {
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 25px;
    white-space: pre-line;

    & > * {
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
