@import "normalize.css/normalize";
@import "pretty-checkbox/src/pretty-checkbox.scss";
@import "react-datepicker/dist/react-datepicker";
@import "react-dragswitch/dist";
@import "@projectstorm/react-diagrams/dist/style.min";
@import "/icon_font/styles.css";
@import "./variables.scss";
@import "./ufx-customise.scss";

*,
::before,
::after {
  box-sizing: border-box;
}

body button,
body button:focus {
  outline: none;
  outline: none;
}

.trailing-zeros {
  opacity: 0.6;
}

.react-datepicker__tab-loop {
  position: relative;
}

.react-datepicker-popper {
  transform: none !important;
  top: -15px !important;
  z-index: 3;
}

.react-datepicker {
  width: 327.3px;

  .react-datepicker-time__header,
  .react-datepicker-year-header {
    font-weight: 500;
  }
  .react-datepicker__current-month,
  .react-datepicker__navigation--previous,
  .react-datepicker__navigation--next,
  .react-datepicker-year-header {
    display: none;
  }
  .react-datepicker__time-list-item{
    margin-bottom: 0;
    display: block;
  }
}

.ufx-input {
  .input-field-container {
    background: var(--lighter-background-color) !important;

    > input {
      background: var(--lighter-background-color) !important;
    }
  }
}

body.Dark {
  .react-datepicker {
    background-color: var(--darker-background-color);
    color: var(--shade-7);
    border: 1px solid $black-color;
  }
  .react-datepicker__time-container {
    border-left: 1px solid $black-color;
    .react-datepicker__time {
      background: var(--darker-background-color);
    }
  }

  .react-datepicker__header {
    background-color: $black-color;
    border: none;
  }

  .react-datepicker__current-month,
  .react-datepicker-time__header,
  .react-datepicker-year-header {
    color: var(--shade-7);
  }

  .react-datepicker-popper[data-placement^="bottom"]
    .react-datepicker__triangle,
  .react-datepicker-popper[data-placement^="bottom"]
    .react-datepicker__triangle::before {
    border-top: none;
    border-bottom-color: $black-color;
  }
  .react-datepicker__triangle::after {
    border-bottom-color: transparent !important;
  }
  .react-datepicker__day-name,
  .react-datepicker__day,
  .react-datepicker__time-name {
    color: var(--shade-7);
  }

  .react-datepicker__day:hover,
  .react-datepicker__month-text:hover {
    background-color: var(--background-color);
  }

  .react-datepicker__day--keyboard-selected,
  .react-datepicker__month-text--keyboard-selected,
  .react-datepicker__day--keyboard-selected,
  .react-datepicker__month-text--keyboard-selected {
    background: $yellow-color;
    color: var(--text-color);
  }
  .react-datepicker__time-container
    .react-datepicker__time
    .react-datepicker__time-box
    ul.react-datepicker__time-list
    li.react-datepicker__time-list-item:hover {
    background-color: $black-color;
    border: none;
  }
  .react-datepicker__day--disabled,
  .react-datepicker__month-text--disabled,
  .react-datepicker__quarter-text--disabled
    .react-datepicker__year-text--disabled {
    color: var(--shade-0);
  }

  .react-datepicker__year-select,
  .react-datepicker__month-select {
    background-color: $black-color !important;
    color: var(--text-color) !important;
    border: 1px solid var(--shade-3);
    border-radius: 0.3rem;
    padding: 3px;
    font-weight: 500;
    &:focus {
      outline: none;
    }
  }
}

body.Light {
  .ufx-dropdown {
    color: var(--text-color) !important;

    .list-wrapper {
      background-color: var(--background-color) !important;
    }

    .list-item:active {
      background-color: var(--shade-4);
      color: var(--background-color);
    }
  }
}

.__react-tooltip {
  max-width: 250px;
  font-size: 13px;
  padding: 4px 12px;
  text-align: center;

  &.wide {
    word-break: break-all;
    max-width: 650px;
  }
}

.__react_component_tooltip,
.ufx-tooltip {
  background-color: var(--darker-background-color) !important;
  color: var(--text-color) !important;
}

.tooltip-arrow {
  pointer-events: none;
}

.tooltip-arrow[data-placement*="left"]:after {
  border-left-color: $tooltip-border-color !important;
}

.tooltip-arrow[data-placement*="top"]:after {
  border-top-color: $tooltip-border-color !important;
}

.tooltip-arrow[data-placement*="right"] {
  margin-left: -0.75rem;

  &:before {
    border-color: transparent;
  }

  &:after {
    border-right-color: $tooltip-border-color !important;
  }
}

.tooltip-arrow[data-placement*="bottom"] {
  &:before {
    border-color: transparent;
  }

  &:after {
    border-bottom-color: $tooltip-border-color !important;
  }
}

body {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;

  background: var(--background-color);
  color: var(--shade-7);

  margin: 0;
}

html,
body,
#root {
  height: 100%;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a,
a:visited {
  color: $green-color;
}

.hfui-red {
  color: $red-color;
}

.hfui-green {
  color: $green-color;
}

.hfui-uppercase {
  text-transform: uppercase;
}

@import "react-grid-layout/css/styles";
@import "react-resizable/css/styles";

.react-grid-item > .react-resizable-handle {
  z-index: 100;
}

.react-grid-item > .react-resizable-handle::after {
  border-right: 2px solid rgba(255, 255, 255, 0.4);
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
}

.react-datepicker__time-list {
  display: block !important;
}

.empty {
  padding-top: 10px;
  text-align: center;
}

.link-button {
  color: $green-color;
  border-bottom: solid 1px $green-color;
  cursor: pointer;
}

// OrderHistory & Atomic Orders table marker icon
.row-marker {
  background: transparent;
  border-radius: 50%;
  width: 12px;
  height: 12px;

  &.stick {
    width: 2px;
    height: 12px;
    border-radius: 0;
    margin-left: 5px;
  }

  &.stick2 {
    margin-left: 0;
  }

  &.green {
    background-color: $green-color;
  }

  &.red {
    background-color: $red-color;
  }
}

[class*="icon-"]:before {
  font-weight: 600 !important;
}

::-webkit-input-placeholder {
  color: var(--shade-3);
  -webkit-font-smoothing: antialiased;
}

:-moz-placeholder {
  color: var(--shade-3);
  opacity: 1;
  -moz-osx-font-smoothing: grayscale;
}

::-moz-placeholder {
  color: var(--shade-3);
  opacity: 1;
  -moz-osx-font-smoothing: grayscale;
}

:-ms-input-placeholder {
  color: var(--shade-3);
  -webkit-font-smoothing: antialiased;
}

// scrollbar
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: var(--shade-1) !important;
  border: 0 !important;
  transition: background-color 0.1s;

  &:hover {
    background: var(--shade-3) !important;
  }
}

.ReactVirtualized__Table__Grid {
  font-feature-settings: "tnum";
}
