// Base colors
$white-color: #fff;
$grey-color: #666;
$dark-grey-color: #333;
$black-color: #000;

$background-color-light: #efefef;
$darker-background-color-light: #ffffff;
$lighter-background-color-light: mix($white-color, lighten($background-color-light, 3%), 4%);

$background-color: #172d3e;
$darker-background-color: #102331;
$lighter-background-color: mix($white-color, lighten($background-color, 3%), 4%);

$green-color: mix(#00e0ad, $background-color, 80%);
$green-button-color: mix(#00e0ad, $background-color, 70%);
$blue-color: mix(#0089ff, $background-color, 70%);
$yellow-color: #fcd206;
$red-color: #f05359;
$red-button-color: mix($red-color, $background-color, 70%);

// Component colors
$strategy-empty-color: #99b4c8;

$tooltip-border-color: $white-color;
$tooltip-background-color: darken(#6e8ca8, 20%);
$tooltip-text-color: #bfc3c6;

$orange-border-color: #4e3300;
$orange-background-color: #231700;

$orderbook-sell-background-color: #383342;
$orderbook-buy-background-color: #204143;

$code-text-color: #9effff;
$code-anchor-color: #ffac2c;

$themes: (
  "Light": (
    "colors": (
      "primary-0": mix(#00e0ad, $background-color-light, 10%),
      "primary-1": mix(#00e0ad, $background-color-light, 20%),
      "primary-2": mix(#00e0ad, $background-color-light, 30%),
      "primary-3": mix(#00e0ad, $background-color-light, 40%),
      "primary-4": mix(#00e0ad, $background-color-light, 50%),
      "primary-5": mix(#00e0ad, $background-color-light, 60%),
      "primary-6": mix(#00e0ad, $background-color-light, 70%),
      "primary-7": mix(#00e0ad, $background-color-light, 80%),
      "primary-8": mix(#00e0ad, $background-color-light, 90%),
      "primary-9": #00e0ad,
      "secondary-0": mix(#0089ff, $background-color-light, 10%),
      "secondary-1": mix(#0089ff, $background-color-light, 20%),
      "secondary-2": mix(#0089ff, $background-color-light, 30%),
      "secondary-3": mix(#0089ff, $background-color-light, 40%),
      "secondary-4": mix(#0089ff, $background-color-light, 50%),
      "secondary-5": mix(#0089ff, $background-color-light, 60%),
      "secondary-6": mix(#0089ff, $background-color-light, 70%),
      "secondary-7": mix(#0089ff, $background-color-light, 80%),
      "secondary-8": mix(#0089ff, $background-color-light, 90%),
      "secondary-9": #0089ff,
      "background-color": $background-color-light,
      "lighter-background-color": $lighter-background-color-light,
      "darker-background-color": $darker-background-color-light,
      "red-background": mix($red-color, $background-color-light, 10%),
      "red": lighten($red-color, 10%),
      "white-background-mix": mix($white-color, $lighter-background-color-light, 15%),
      "yellow-background-mix": mix($yellow-color, $background-color-light, 10%),
      "lighten-background-mix": mix(white, lighten($lighter-background-color-light, 6%), 8%),
      "lighten-background": lighten($lighter-background-color-light, 6%)
    ),
    "shades": (
      "shade-0": mix(
        #0089ff,
        mix(black, $background-color-light, 10%),
        5%
      ),
      "shade-1": mix(
        #0089ff,
        mix(black, $background-color-light, 20%),
        10%
      ),
      "shade-2": mix(
        #0089ff,
        mix(black, $background-color-light, 30%),
        10%
      ),
      "shade-3": mix(
        #0089ff,
        mix(black, $background-color-light, 40%),
        10%
      ),
      "shade-4": mix(
        #0089ff,
        mix(black, $background-color-light, 50%),
        10%
      ),
      "shade-5": mix(
        #0089ff,
        mix(black, $background-color-light, 60%),
        10%
      ),
      "shade-6": mix(
        #0089ff,
        mix(black, $background-color-light, 70%),
        10%
      ),
      "shade-7": mix(
        #0089ff,
        mix(black, $background-color-light, 80%),
        10%
      ),
      "shade-8": mix(
        #0089ff,
        mix(black, $background-color-light, 90%),
        10%
      ),
      "shade-9": mix(#0089ff, black, 10%),
      "text-color": mix(
        #0089ff,
        mix(black, $background-color-light, 80%),
        10%
      ),
      "light-background-mix": mix(white, lighten($lighter-background-color-light, 6%), 8%)
    )
  ),
  "Dark": (
    "colors": (
      "primary-0": mix(#00e0ad, $background-color, 10%),
      "primary-1": mix(#00e0ad, $background-color, 20%),
      "primary-2": mix(#00e0ad, $background-color, 30%),
      "primary-3": mix(#00e0ad, $background-color, 40%),
      "primary-4": mix(#00e0ad, $background-color, 50%),
      "primary-5": mix(#00e0ad, $background-color, 60%),
      "primary-6": mix(#00e0ad, $background-color, 70%),
      "primary-7": mix(#00e0ad, $background-color, 80%),
      "primary-8": mix(#00e0ad, $background-color, 90%),
      "primary-9": #00e0ad,
      "secondary-0": mix(#0089ff, $background-color, 10%),
      "secondary-1": mix(#0089ff, $background-color, 20%),
      "secondary-2": mix(#0089ff, $background-color, 30%),
      "secondary-3": mix(#0089ff, $background-color, 40%),
      "secondary-4": mix(#0089ff, $background-color, 50%),
      "secondary-5": mix(#0089ff, $background-color, 60%),
      "secondary-6": mix(#0089ff, $background-color, 70%),
      "secondary-7": mix(#0089ff, $background-color, 80%),
      "secondary-8": mix(#0089ff, $background-color, 90%),
      "secondary-9": #0089ff,
      "background-color": $background-color,
      "lighter-background-color": $lighter-background-color,
      "darker-background-color": $darker-background-color,
      "red-background": mix($red-color, $background-color, 10%),
      "red": lighten($red-color, 10%),
      "white-background-mix": mix($white-color, $lighter-background-color, 15%),
      "yellow-background-mix": mix($yellow-color, $background-color, 10%),
      "lighten-background-mix": mix(white, lighten($lighter-background-color, 6%), 8%),
      "lighten-background": lighten($lighter-background-color, 6%)
    ),
    "shades": (
      "shade-0": mix(
        #0089ff,
        mix(white, $background-color, 10%),
        5%
      ),
      "shade-1": mix(
        #0089ff,
        mix(white, $background-color, 20%),
        10%
      ),
      "shade-2": mix(
        #0089ff,
        mix(white, $background-color, 30%),
        10%
      ),
      "shade-3": mix(
        #0089ff,
        mix(white, $background-color, 40%),
        10%
      ),
      "shade-4": mix(
        #0089ff,
        mix(white, $background-color, 50%),
        10%
      ),
      "shade-5": mix(
        #0089ff,
        mix(white, $background-color, 60%),
        10%
      ),
      "shade-6": mix(
        #0089ff,
        mix(white, $background-color, 70%),
        10%
      ),
      "shade-7": mix(
        #0089ff,
        mix(white, $background-color, 80%),
        10%
      ),
      "shade-8": mix(
        #0089ff,
        mix(white, $background-color, 90%),
        10%
      ),
      "shade-9": mix(#0089ff, white, 10%),
      "text-color": mix(
        #0089ff,
        mix(white, $background-color, 80%),
        10%
      ),
      "light-background-mix": mix(white, lighten($lighter-background-color, 6%), 8%)
    )
  )
);

@each $theme-name, $theme-vars in $themes {
  $shades: map-get($theme-vars, "shades");
  $colors: map-get($theme-vars, "colors");

  body.#{$theme-name} {
    // defining variables for colours and shades
    @each $name, $color in $shades {
      --#{$name}: #{$color};
    }
    @each $name, $color in $colors {
      --#{$name}: #{$color};
    }
  }
}

// Utils
$font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$spacing-unit: 16px;
$spacing-unit-grid: 10px;
$border-radius: 5px;

@function spacing($value: 1, $grid: false) {
  @if $grid {
    @return $spacing-unit-grid * $value;
  }

  @return $spacing-unit * $value;
}
