.hfui-strategy-backtest-options {
  display: flex;
  flex-direction: column;
  background-color: var(--darker-background-color);
  border-radius: 5px;
  height: 100%;
  padding: 16px;

  .item {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    input {
      background-color: var(--lighter-background-color);
    }
  }

  &__text-btn {
    color: var(--shade-4);
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    user-select: none;

    &:hover {
      color: var(--primary-color);
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &__start-btn {
    width: 100%;
    height: 34px;
  }

  &__spinner {
    margin-top: 0;
    margin-right: 5px !important;
    color: inherit;
  }

  &__calculating-btn {
    @extend .hfui-strategy-backtest-options__start-btn;
    background-color: #bfccda;
    color: #152330;
  }

  .disabled {
    cursor: not-allowed;
    color: var(--shade-3);
  }
}
