.hfui-strategy-backtest-options {
  display: flex;
  flex-direction: column;
  background-color: var(--darker-background-color);
  border-radius: 5px;
  height: 100%;
  padding: 16px;

  .item {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    input {
      background-color: var(--lighter-background-color);
    }
  }

  &__start-btn {
    width: 100%;
    height: 34px;
  }

  &__spinner {
    margin-top: 0;
    margin-right: 5px !important;
  }
}
