@import "../../variables.scss";

.hfui-strategy-backtest-options {
  display: flex;
  flex-direction: column;
  background-color: var(--darker-background-color);
  border-radius: 5px;
  height: 100%;
  padding: 16px;
  min-width: 275px;

  .item {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    input {
      background-color: var(--lighter-background-color);
    }
  }

  .details-field {
    @extend .item;
    margin-bottom: 10px;
    font-size: 15px;

    .label {
      font-weight: 400;
      margin-bottom: 3px;
      color: var(--shade-5);
    }

    .value {
      font-weight: 700;
    }
  }

  .backtest-history-table {
    @extend .item;
    width: 100%;
    height: 100%;

    .ReactVirtualized__Table__row {
      &:hover {
        background-color: var(--background-color);
        cursor: pointer;
      }
    }
  }

  .tabs-menu {
    @extend .item;
    display: flex;
    justify-content: space-between;

    .icon {
      font-size: 14px;
    }
  }

  &__icn-selector-container {
    display: flex;
    justify-content: flex-end;

    .icon-selector {
      margin-right: 10px;
      fill: var(--shade-4);
      font-size: 18px;
      font-weight: 600;
      line-height: 16px;
      user-select: none;

      &:hover {
        fill: var(--shade-3);
        text-decoration: underline;
        cursor: pointer;
      }

      &:last-child {
        margin-right: 0;
      }

      &.active {
        fill: $green-button-color;
      }
    }
  }

  &__text-btn {
    color: var(--shade-4);
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    user-select: none;

    &:hover {
      color: var(--shade-3);
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &__start-btn {
    width: 100%;
    height: 34px;
  }

  &__spinner {
    margin-top: 0;
    margin-right: 5px !important;
    color: inherit;
  }

  &__calculating-btn {
    @extend .hfui-strategy-backtest-options__start-btn;
    background-color: #bfccda;
    color: #152330;
  }

  .disabled {
    cursor: not-allowed;
    color: var(--shade-3);
  }
}
